<!DOCTYPE html>
<html>
<head>
    <title>Commits</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Informations sur les commits</h1>
    <table id="commit-table">
        <tr>
            <th>Date</th>
            <th>Minute</th>
        </tr>
    </table>

    <script>
        $(document).ready(function() {
            $.getJSON('https://api.github.com/repos/Elie00000/Partiel/commits', function(data) {
                data.forEach(function(commit) {
                    var date = commit.commit.author.date;
                    $.getJSON('/extract-minutes/' + date, function(minutesData) {
                        $('#commit-table').append('<tr><td>' + date + '</td><td>' + minutesData.minutes + '</td></tr>');
                    });
                });
            });
        });
    </script>
</body>
</html>
